<!DOCTYPE html>
<html>
<head>
  <title>Home - Ambulance Tracker</title>
</head>
<body>
  <h1>Welcome to the Ambulance Tracker</h1>
  <p><a href="/user">Go to User View</a></p>
  <p><a href="/driver">Go to Driver View</a></p>
</body>
</html>
